name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  DOCKER_HUB_USERNAME: troke12
  DOCKER_HUB_REPOSITORY: ${{ secrets.DOCKER_HUB_REPOSITORY || 'bashupload' }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: troke12
          password: ${{ env.DOCKER_HUB_PASSWORD }}

      - name: Determine Docker image tags
        id: tags
        run: |
          IMAGE_NAME="troke12/${{ env.DOCKER_HUB_REPOSITORY }}"
          if [[ "${{ github.ref }}" == "refs/heads/main" ]] || [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            echo "tags=$IMAGE_NAME:latest" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref }}" == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
            echo "tags=$IMAGE_NAME:$VERSION,$IMAGE_NAME:latest" >> $GITHUB_OUTPUT
          else
            BRANCH=${GITHUB_REF#refs/heads/}
            BRANCH=${BRANCH//\//-}
            echo "tags=$IMAGE_NAME:$BRANCH" >> $GITHUB_OUTPUT
          fi

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.tags.outputs.tags }}
          cache-from: type=registry,ref="troke12/${{ env.DOCKER_HUB_REPOSITORY }}:buildcache
          cache-to: type=registry,ref="troke12/${{ env.DOCKER_HUB_REPOSITORY }}:buildcache,mode=max

